<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>Footer</title>
</head>
<body>

<div th:fragment="footer" class="footer">
  <hr/>
  <div class="footer-area-bottom" style="background-color: brown;">
    <div class="container">
      <p style="text-align: center !important;padding: 1pc;font-size: x-large;color: black;">Designed And
        Developed by <a href="https://linkedin.com/in/purushottamgutthe" target="_blank"> Purushottam Gutthe </a> MCA 2024</p>
    </div>
  </div>
</div>

</body>
</html>