.header-right {
  text-align: right;
  width: 70%;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}


/* Staff home pass */

.form-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Labels */
form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

/* Form Inputs */
form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Submit Button */
form button {
    width: 100%;
    padding: 10px;
    background-color: #ad1010;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}

form button:hover {
    background-color: #8b0d0d;
}