<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
    <h1> This is the Registration Page</h1>
    <div align="center">
        <div style="border-style:solid;width:500px">
            <h3>Enter all your data here</h3>
            <form
                method="post"
                th:action="@{form/save}"
                th:object="${formData}"
            >
                <label>Id: </label><input type="number" th:field="*{id}"/>
                <label>Name: </label><input type="text" th:field="*{name}"/>
                <label>Department: </label><input type="text" th:field="*{department}"/>
                <label>Subject: </label><input type="text" th:field="*{subject}"/>
                <label>Email: </label><input type="email" th:field="*{email}"/>
                <label>Address: </label><input type="text" th:field="*{address}"/>
                <label>isTeaching: </label>
                <select name="isTeaching"  th:field="*{isTeaching}">
                    <option value="null">Choose Valid one</option>
                    <option value="true">Yes, Teaching</option>
                    <option value="false">No, Non-Teaching</option>
                </select>
                <input type="submit" value="Submit Data">
            </form>
        </div>
    </div>
</body>
</html>