<!DOCTYPE html>
<html language="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>SpringBoot Powered GatePass</title>
</head>
<body>
<div>
    <p> ID:         <strong th:text="${user.id ?: 'Default ID'}"> </strong>   </p>  <!-- Variable Expression -->
    <p> Name:       <strong th:text="${user.name ?: 'user name'}">     </strong>   </p>
    <p> House No:   <strong th:text="${user.houseNo ?: 'House No'}">  </strong> </p>
    <p> Subject:    <strong th:text="${user.subject ?: 'Subject'}">  </strong> </p>
</div>
</body>
</html>