<!--<!DOCTYPE html>-->
<!--<html language="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: layout(~{::section)}">-->
<!--<head>-->
<!--    <title th:replace="${message}">SpringBoot Powered GatePass</title>-->
<!--</head>-->
<!--<body>-->
<!--    <section>-->
<!--        <h3>Passing the data from index page to render in the navbar!</h3>-->
<!--    </section>-->
<!--<h1>Default message</h1>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
    <title>SpringBoot Powered GatePass</title>
</head>
<body>
<section>
    <h3>Passing the data from index page to render in the navbar!</h3>
</section>
<h1>Default message</h1>
</body>
</html>