<!Doctype html>
<html lang="en"
                xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Fragment Pages</title>
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: header}">
            <h1>Header part to be replaced!</h1>
            <hr/>
        </div>

        <div th:include="~{fragments/navbar::bodypart}">
        </div>

        <div th:replace="~{fragments/navbar :: footer}">

            <h1>Header part to be replaced!</h1>
        </div>
    </body>

</html>