<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Link Expression</title>
    <link th:href="@{/test.css}" rel="stylesheet">
</head>
<body>
<h1> Link Expression in Thymeleaf</h1>
<div>
    <a th:href="@{selection-expression}" > Selection Expression Page </br></a>
    <a th:href="@{message-expression}"> message Expression Page</br></a>
    <a th:href="@{variable-expression}">  variable Expression Page</br></a>
    <a th:href="@{variable-expression/{id}(id=${id})}">  Parameterized fake link for id 1</br></a>
</div>
</body>
</html>