<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Link Expression</title>
</head>
<body>
<h1> Link Expression in Thymeleaf</h1>
<div>
    <a th:href="@{thmlf/selection-expression}"> Selection Expression Page </br></a>
    <a th:href="@{thmlf/message-expression}"> message Expression Page</br></a>
    <a th:href="@{thmlf/variable-expression}">  variable Expression Page</br></a>
</div>
</body>
</html>