<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:insert="/staticfrags/header">
    <!-- Header has been imported -->

</header>



<h1> Here we can mention the data that has been reached till the page!!</h1>

<div th:each="membership, index : ${membershipEntity}">
    <h4> Hi <strong th:text="${membership.fname}"> </strong> , your application has been submitted successfully! <br/>
        Kindly refer <strong th:text="${membership.username}"></strong> as username and application id is <strong th:text="${membership.appid}"></strong>
    </h4>

</div>



<footer th:insert="/staticfrags/footer">
    <!-- Footer  has been imported -->
</footer>

</body>
</html>